<div class="my-3 text-center">
    <div class="mb-1">{{ trans('AuthEcust::auth.title') }}</div>
    <a href="/auth/login" class="btn btn-block bg-light border-secondary">
        <i class="fas fa-sign-in-alt"></i>&nbsp;
        {{ trans('AuthEcust::auth.ecust.back', { 'identification': trans('front-end.auth.identification')}) }}
    </a>
</div>
